# Memanggil Library Pandas

In [1]:
import pandas as pd
import numpy as np

# DataFrame & Series

In [2]:
# Series
number_list = pd.Series([1, 2, 3, 4, 5, 6])
print('Series:')
print(number_list)

Series:
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
# DataFrame
matrix = [[1, 2, 3],
          ['a', 'b', 'c'],
          [3, 4, 5],
          ['d', 4, 6]]
matrix_list = pd.DataFrame(matrix)
print('DataFrame:')
print(matrix_list)

DataFrame:
   0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

# Atribut DataFrame & Series - Part 1

In [4]:
# info(): mengecek kolom apa yang membentuk dataframe itu, data types, berapa yang non null, dll. 
# Attribute ini tidak dapat digunakan pada series, hanya pada data frame saja

print(matrix_list.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       4 non-null      object
 1   1       4 non-null      object
 2   2       4 non-null      object
dtypes: object(3)
memory usage: 224.0+ bytes
None

In [5]:
# shape: mengetahui berapa baris dan kolom, hasilnya dalam format tuple (baris, kolom)
print('Shape dari number_list:', number_list.shape) 
print('Shape dari matrix_list:', matrix_list.shape)

Shape dari number_list: (6,)
Shape dari matrix_list: (4, 3)

In [6]:
# dtypes: mengetahui tipe data di tiap kolom. 
# Tipe data object: kombinasi untuk berbagai tipe data (number & text, etc).

print('Tipe data number_list:', number_list.dtypes)
print('Tipe data matrix_list:', matrix_list.dtypes)

Tipe data number_list: int64
Tipe data matrix_list: 0    object
1    object
2    object
dtype: object

In [7]:
# astype(nama_tipe_data): convert tipe data berdasarkan tipe data 
# seperti: float, int, str, numpy.float, numpy.int ataupun numpy.datetime.
print('Konversi number_list ke str:', number_list.astype('str'))
print('Konversi matrix_list ke str:', matrix_list.astype('str'))

Konversi number_list ke str: 0    1
1    2
2    3
3    4
4    5
5    6
dtype: object
Konversi matrix_list ke str:    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

# Atribut DataFrame & Series - Part 2

In [8]:
# .copy(): melakukan duplikat, untuk disimpan di variable yang berbeda mungkin supaya tidak loading data lagi.
num_list = number_list.copy()
print('Copy number_list ke num_list:', num_list)
mtr_list = matrix_list.copy()
print('Copy matrix_list ke mtr_list:', mtr_list)

Copy number_list ke num_list: 0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
Copy matrix_list ke mtr_list:    0  1  2
0  1  2  3
1  a  b  c
2  3  4  5
3  d  4  6

In [9]:
# .to_list(): mengubah series menjadi list dan tidak dapat digunakan untuk dataframe.
print(number_list.to_list())

[1, 2, 3, 4, 5, 6]

In [10]:
# .unique(): menghasilkan nilai unik dari suatu kolom, hasilnya dalam bentuk numpy array.
# Attribute ini hanya digunakan pada series saja.
print(number_list.unique())

[1 2 3 4 5 6]

# Atribut DataFrame & Series - Part 3

In [11]:
# .index: untuk mencari index/key dari Series atau Dataframe.
print('Index number_list:', number_list.index)
print('Index matrix_list:', matrix_list.index)

Index number_list: RangeIndex(start=0, stop=6, step=1)
Index matrix_list: RangeIndex(start=0, stop=4, step=1)

In [12]:
# .loc: slice dataframe atau series berdasarkan nama kolom
print('.loc[0:1] pada number_list:', number_list.loc[0:1])
print('.loc[0:1] pada matrix_list:', matrix_list.loc[0:1])

.loc[0:1] pada number_list: 0    1
1    2
dtype: int64
.loc[0:1] pada matrix_list:    0  1  2
0  1  2  3
1  a  b  c

# QUIZ

In [13]:
matrix = [[1,2,3],
          ['a','b','c'],
          [3,4,5],
          ['d',4,6]]
matrix_list = pd.DataFrame(matrix)

matrix_list.iloc[0:2, 2].to_list()

[3, 'c']

# Creating Series & Dataframe from List

In [14]:
# Creating Series from List
ex_list = ['a', 1, 3, 5, 'c', 'd']
ex_series = pd.Series(ex_list)
print(ex_series)

0    a
1    1
2    3
3    5
4    c
5    d
dtype: object

In [15]:
# Creating dataframe from list of list
ex_list_of_list = [[1,'a','b','c'],
                   [2.5,'d','e','f'],
                   [5,'g','h','i'],
                   [7.5,'j',10.5,'l']]

index = ['dq', 'lab', 'kar', 'lan']
cols = ['float', 'char', 'obj', 'char']
ex_df = pd.DataFrame(ex_list_of_list, index=index, columns=cols)
print(ex_df)

     float char   obj char
dq     1.0    a     b    c
lab    2.5    d     e    f
kar    5.0    g     h    i
lan    7.5    j  10.5    l

# Creating Series & Dataframe from Dictionary

In [16]:
# Creating series from dictionary
dict_series = {'1':'a',
               '2':'b',
               '3':'c'}
          
ex_series = pd.Series(dict_series)
print(ex_series)

1    a
2    b
3    c
dtype: object

In [ ]:
# Creating dataframe from dictionary
df_series = {'1':['a', 'b', 'c'],
             '2':['b', 'c', 'd'],
             '4':[2, 3, 'z']}
ex_df = pd.DataFrame(df_series, index=index)
print(ex_df)

# Creating Series & Dataframe from Numpy Array

In [18]:
# Creating series from numpy array (1D)
arr_series = np.array([1, 2, 3, 4, 5, 6, 6, 7])
ex_series = pd.Series(arr_series)
print(ex_series)

0    1
1    2
2    3
3    4
4    5
5    6
6    6
7    7
dtype: int64

In [19]:
# Creating dataframe from numpy array (2D)
arr_df = np.array([[1, 2, 3, 5],
                   [5, 6, 7, 8],
                   ['a', 'b', 'c', 10]])
ex_df = pd.DataFrame(arr_df)
print(ex_df)

   0  1  2   3
0  1  2  3   5
1  5  6  7   8
2  a  b  c  10

In [20]:
ex_df.iloc[2, 0:2] = [11, 12]

In [21]:
ex_df

    0   1  2   3
0   1   2  3   5
1   5   6  7   8
2  11  12  c  10

# Read Dataset - CSV dan TSV

In [22]:
# Membaca File CSV
df_csv = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/sample_csv.csv')
print(df_csv.head(3))

   order_id  order_date  customer_id  ...    brand quantity item_price
0   1612339  2019-01-01        18055  ...  BRAND_C        4    1934000
1   1612339  2019-01-01        18055  ...  BRAND_V        8     604000
2   1612339  2019-01-01        18055  ...  BRAND_G       12     747000

[3 rows x 9 columns]

In [23]:
# Membaca File TSV
df_tsv = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv', sep='\t')
print(df_tsv.head(3))

   order_id  order_date  customer_id  ...    brand quantity item_price
0   1612339  2019-01-01        18055  ...  BRAND_C        4    1934000
1   1612339  2019-01-01        18055  ...  BRAND_V        8     604000
2   1612339  2019-01-01        18055  ...  BRAND_G       12     747000

[3 rows x 9 columns]

# Read Dataset - Excel

In [24]:
# File xlsx dengan data di sheet 'test'
df_excel = pd.read_excel('https://storage.googleapis.com/dqlab-dataset/sample_excel.xlsx', sheet_name='test')
print(df_excel.head(4))

   order_id  order_date  customer_id  ...    brand quantity item_price
0   1612339  2019-01-01        18055  ...  BRAND_C        4    1934000
1   1612339  2019-01-01        18055  ...  BRAND_V        8     604000
2   1612339  2019-01-01        18055  ...  BRAND_G       12     747000
3   1612339  2019-01-01        18055  ...  BRAND_B       12     450000

[4 rows x 9 columns]

# Read Dataset - JSON

In [25]:
# File JSON
url = 'https://storage.googleapis.com/dqlab-dataset/covid2019-api-herokuapp-v2.json'
df_json = pd.read_json(url)
print(df_json.head(10))

                                                data          dt          ts
0  {'location': 'US', 'confirmed': 3363056, 'deat...  07-14-2020  1594684800
1  {'location': 'Brazil', 'confirmed': 1884967, '...  07-14-2020  1594684800
2  {'location': 'India', 'confirmed': 906752, 'de...  07-14-2020  1594684800
3  {'location': 'Russia', 'confirmed': 732547, 'd...  07-14-2020  1594684800
4  {'location': 'Peru', 'confirmed': 330123, 'dea...  07-14-2020  1594684800
5  {'location': 'Chile', 'confirmed': 317657, 'de...  07-14-2020  1594684800
6  {'location': 'Mexico', 'confirmed': 304435, 'd...  07-14-2020  1594684800
7  {'location': 'United Kingdom', 'confirmed': 29...  07-14-2020  1594684800
8  {'location': 'South Africa', 'confirmed': 2877...  07-14-2020  1594684800
9  {'location': 'Iran', 'confirmed': 259652, 'dea...  07-14-2020  1594684800

# Read Dataset - SQL

In [26]:
!pip3 install mysql-connector-python

Collecting mysql-connector-python
  Downloading https://files.pythonhosted.org/packages/ef/5b/a7dc32e711e4a065896188afef6864489ccf4bdab0928581c4262e84110d/mysql_connector_python-8.0.25-cp37-cp37m-manylinux1_x86_64.whl (25.4MB)
     |████████████████████████████████| 25.4MB 152kB/s
Requirement already satisfied: protobuf>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mysql-connector-python) (3.12.4)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.0.0->mysql-connector-python) (56.1.0)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.0.25

In [27]:
import mysql.connector
# Membuat koneksi ke database
my_conn = mysql.connector.connect(host="relational.fit.cvut.cz",
                                  port=3306,
                                  user="guest",
                                  passwd="relational",
                                  database="financial",
                                  use_pure=True)
# Membuat query sql untuk membaca tabel loan
my_query = """
SELECT *
FROM loan;
"""

# Gunakanlah .read_sql_query untuk membaca tabel loan tersebut
df_loan = pd.read_sql_query(my_query, my_conn)
print(df_loan.head())

   loan_id  account_id        date  amount  duration  payments status
0     4959           2  1994-01-05   80952        24    3373.0      A
1     4961          19  1996-04-29   30276        12    2523.0      B
2     4962          25  1997-12-08   30276        12    2523.0      A
3     4967          37  1998-10-14  318480        60    5308.0      D
4     4968          38  1998-04-19  110736        48    2307.0      C

In [28]:
# Cara lain
# Menggunakan .read_sql
df_loan = pd.read_sql(my_query, my_conn)
print(df_loan.head())

   loan_id  account_id        date  amount  duration  payments status
0     4959           2  1994-01-05   80952        24    3373.0      A
1     4961          19  1996-04-29   30276        12    2523.0      B
2     4962          25  1997-12-08   30276        12    2523.0      A
3     4967          37  1998-10-14  318480        60    5308.0      D
4     4968          38  1998-04-19  110736        48    2307.0      C

# Read Dataset - Google BigQuery

In [ ]:
# Buat query
query = """
SELECT *
FROM 'bigquery-public-data.covid19_jhu_csse_eu.summary'
LIMIT 1000;
"""

# Baca data dari Google Big Query
df_covid19_eu_summary = pd.read_gbq(query, project_id="XXXXXXXX")
print(df_covid19_eu_summary)

# Write Dataset

In [29]:
# .to_csv()
# digunakan untuk export dataframe kembali ke csv atau tsv

# CSV
df_csv.to_csv("csv1.csv", index=False)

In [30]:
# TSV
df_csv.to_csv("tsv1.tsv", index=False, sep='\t')

In [ ]:
# .to_clipboard()
# export dataframe menjadi bahan copy jadi nanti bisa tinggal klik paste di excel atau google sheets

df_loan.to_clipboard()

In [32]:
# .to_excel()
# export dataframe menjadi file excel

df_excel.to_excel("xlsx1.xlsx", index=False)

In [ ]:
# .to_gbq()
# export dataframe menjadi table di Google BigQuery

df.to_gbq("temp.test", project_id="XXXXXX", if_exists="fail")

- temp: nama dataset,

- test: nama table

- if_exists: ketika tabel dengan dataset.table_name yang sama sudah ada, apa action yang ingin dilakukan

- "fail": tidak melakukan apa-apa,

- "replace': membuang tabel yang sudah ada dan mengganti yang baru,

- "append": menambah baris di tabel tersebut dengan data yang baru

# Head & Tail

In [35]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Tampilkan 3 data teratas
print("Tiga data teratas:\n", df.head(3))

Tiga data teratas:
    order_id  order_date  customer_id  ...    brand quantity item_price
0   1612339  2019-01-01        18055  ...  BRAND_C        4    1934000
1   1612339  2019-01-01        18055  ...  BRAND_V        8     604000
2   1612339  2019-01-01        18055  ...  BRAND_G       12     747000

[3 rows x 9 columns]

In [36]:
# Tampilkan 3 data terbawah
print("Tiga data terbawah:\n", df.tail(3))

Tiga data terbawah:
      order_id  order_date  customer_id  ...    brand quantity item_price
98    1612390  2019-01-01        12681  ...  BRAND_S       24     450000
99    1612390  2019-01-01        12681  ...  BRAND_S       24     450000
100   1612390  2019-01-01        12681  ...  BRAND_B        4    1325000

[3 rows x 9 columns]

# Indexing

In [37]:
import pandas as pd
# Baca file TSV sample_tsv.tsv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t")
# Index dari df
print("Index:", df.index)
# Column dari df
print("Columns:", df.columns)

Index: RangeIndex(start=0, stop=101, step=1)
Columns: Index(['order_id', 'order_date', 'customer_id', 'city', 'province',
       'product_id', 'brand', 'quantity', 'item_price'],
      dtype='object')

In [38]:
# Baca file TSV sample_tsv.tsv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t")

# Set multi index df
df_x = df.set_index(['order_id', 'customer_id', 'product_id', 'order_date'])
print(df_x)

                                                       city  ... item_price
order_id customer_id product_id order_date                   ...
1612339  18055       P0648      2019-01-01  Jakarta Selatan  ...    1934000
                     P3826      2019-01-01  Jakarta Selatan  ...     604000
                     P1508      2019-01-01  Jakarta Selatan  ...     747000
                     P0520      2019-01-01  Jakarta Selatan  ...     450000
                     P1513      2019-01-01  Jakarta Selatan  ...    1500000
...                                                     ...  ...        ...
1612390  12681       P3388      2019-01-01         Makassar  ...     450000
                     P3082      2019-01-01         Makassar  ...    1045000
                     P3354      2019-01-01         Makassar  ...     450000
                     P3357      2019-01-01         Makassar  ...     450000
                     P0422      2019-01-01         Makassar  ...    1325000

[101 rows x 5 columns]

In [39]:
# Melihat multi index yang telah di set
# Index dari df_x
print("Index df_x:", df_x.index)

Index df_x: MultiIndex([(1612339, 18055, 'P0648', '2019-01-01'),
            (1612339, 18055, 'P3826', '2019-01-01'),
            (1612339, 18055, 'P1508', '2019-01-01'),
            (1612339, 18055, 'P0520', '2019-01-01'),
            (1612339, 18055, 'P1513', '2019-01-01'),
            (1612339, 18055, 'P3911', '2019-01-01'),
            (1612339, 18055, 'P1780', '2019-01-01'),
            (1612339, 18055, 'P3132', '2019-01-01'),
            (1612339, 18055, 'P1342', '2019-01-01'),
            (1612339, 18055, 'P2556', '2019-01-01'),
            ...
            (1612387, 17228, 'P0535', '2019-01-01'),
            (1612387, 17228, 'P0029', '2019-01-01'),
            (1612387, 17228, 'P3362', '2019-01-01'),
            (1612387, 17228, 'P3409', '2019-01-01'),
            (1612390, 12681, 'P1867', '2019-01-01'),
            (1612390, 12681, 'P3388', '2019-01-01'),
            (1612390, 12681, 'P3082', '2019-01-01'),
            (1612390, 12681, 'P3354', '2019-01-01'),
            (1612390, 12681, 'P3357', '2019-01-01'),
            (1612390, 12681, 'P0422', '2019-01-01')],
           names=['order_id', 'customer_id', 'product_id', 'order_date'], length=101)

In [40]:
# Print nama dan level dari multi index
for name, level in zip(df_x.index.names, df_x.index.levels):
    print(name, ':', level)

order_id : Int64Index([1612339, 1612342, 1612345, 1612369, 1612372, 1612375, 1612378,
            1612381, 1612384, 1612387, 1612390],
           dtype='int64', name='order_id')
customer_id : Int64Index([12681, 13963, 15649, 17091, 17228, 17450, 17470, 17511, 17616,
            18055],
           dtype='int64', name='customer_id')
product_id : Index(['P0029', 'P0040', 'P0041', 'P0116', 'P0117', 'P0219', 'P0255', 'P0327',
       'P0422', 'P0449', 'P0491', 'P0515', 'P0517', 'P0520', 'P0525', 'P0535',
       'P0648', 'P0704', 'P0708', 'P0709', 'P0784', 'P0791', 'P0792', 'P0931',
       'P0968', 'P1118', 'P1251', 'P1255', 'P1305', 'P1306', 'P1307', 'P1329',
       'P1342', 'P1469', 'P1508', 'P1513', 'P1597', 'P1600', 'P1679', 'P1680',
       'P1683', 'P1684', 'P1685', 'P1700', 'P1741', 'P1742', 'P1780', 'P1800',
       'P1813', 'P1867', 'P1945', 'P2086', 'P2089', 'P2103', 'P2154', 'P2159',
       'P2325', 'P2494', 'P2556', 'P2575', 'P2594', 'P2641', 'P2660', 'P2707',
       'P2760', 'P2783', 'P2806', 'P2866', 'P2881', 'P2928', 'P2935', 'P2946',
       'P2964', 'P3006', 'P3082', 'P3122', 'P3132', 'P3354', 'P3357', 'P3362',
       'P3388', 'P3409', 'P3412', 'P3484', 'P3599', 'P3665', 'P3826', 'P3837',
       'P3911', 'P4009', 'P4025', 'P4057', 'P4059', 'P4060', 'P4075'],
      dtype='object', name='product_id')
order_date : Index(['2019-01-01'], dtype='object', name='order_date')

In [41]:
import pandas as pd
# Baca file TSV sample_tsv.tsv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t")
# Set multi index df
df_x = df.set_index(['order_date', 'city', 'customer_id'])
# Print nama dan level dari multi index
for name, level in zip(df_x.index.names, df_x.index.levels):
    print(name,':',level)

order_date : Index(['2019-01-01'], dtype='object', name='order_date')
city : Index(['Bogor', 'Jakarta Pusat', 'Jakarta Selatan', 'Jakarta Utara',
       'Makassar', 'Malang', 'Surabaya', 'Tangerang'],
      dtype='object', name='city')
customer_id : Int64Index([12681, 13963, 15649, 17091, 17228, 17450, 17470, 17511, 17616,
            18055],
           dtype='int64', name='customer_id')

In [42]:
# Buat dataframe
df_week = pd.DataFrame({
    "day_number" : [1, 2, 3, 4, 5, 6, 7],
    "week_type" : ["weekday" for i in range(5)] + ["weekend" for i in range(2)]
})

# Definisikan indexnya dan assign 
df_week.index = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
print(df_week)

     day_number week_type
Mon           1   weekday
Tue           2   weekday
Wed           3   weekday
Thu           4   weekday
Fri           5   weekday
Sat           6   weekend
Sun           7   weekend

In [43]:
# Tugas Praktek

# Baca file sample_tsv.tsv untuk 10 baris pertama saja
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", nrows=10)

# Cetak data frame awal
print("Dataframe awal:\n", df)
# Set index baru

df.index = ["Pesanan ke-" + str(i) for i in range(1, 11)]

# Cetak data frame dengan index baru
print("Dataframe dengan index baru:\n", df)

Dataframe awal:
    order_id  order_date  customer_id  ...    brand quantity item_price
0   1612339  2019-01-01        18055  ...  BRAND_C        4    1934000
1   1612339  2019-01-01        18055  ...  BRAND_V        8     604000
2   1612339  2019-01-01        18055  ...  BRAND_G       12     747000
3   1612339  2019-01-01        18055  ...  BRAND_B       12     450000
4   1612339  2019-01-01        18055  ...  BRAND_G        3    1500000
5   1612339  2019-01-01        18055  ...  BRAND_V        3    2095000
6   1612339  2019-01-01        18055  ...  BRAND_H        3    2095000
7   1612339  2019-01-01        18055  ...  BRAND_S        3    1745000
8   1612339  2019-01-01        18055  ...  BRAND_F        6    1045000
9   1612339  2019-01-01        18055  ...  BRAND_P        6    1045000

[10 rows x 9 columns]
Dataframe dengan index baru:
                order_id  order_date  customer_id  ...    brand quantity item_price
Pesanan ke-1    1612339  2019-01-01        18055  ...  BRAND_C        4    1934000
Pesanan ke-2    1612339  2019-01-01        18055  ...  BRAND_V        8     604000
Pesanan ke-3    1612339  2019-01-01        18055  ...  BRAND_G       12     747000
Pesanan ke-4    1612339  2019-01-01        18055  ...  BRAND_B       12     450000
Pesanan ke-5    1612339  2019-01-01        18055  ...  BRAND_G        3    1500000
Pesanan ke-6    1612339  2019-01-01        18055  ...  BRAND_V        3    2095000
Pesanan ke-7    1612339  2019-01-01        18055  ...  BRAND_H        3    2095000
Pesanan ke-8    1612339  2019-01-01        18055  ...  BRAND_S        3    1745000
Pesanan ke-9    1612339  2019-01-01        18055  ...  BRAND_F        6    1045000
Pesanan ke-10   1612339  2019-01-01        18055  ...  BRAND_P        6    1045000

[10 rows x 9 columns]

In [44]:
# Baca file sample_tsv.tsv dan set lah index_col sesuai instruksi
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", index_col=["order_date"])

# Cetak data frame untuk 8 data teratas
print("Dataframe:\n", df.head(8))

Dataframe:
             order_id  customer_id  ... quantity item_price
order_date                         ...
2019-01-01   1612339        18055  ...        4    1934000
2019-01-01   1612339        18055  ...        8     604000
2019-01-01   1612339        18055  ...       12     747000
2019-01-01   1612339        18055  ...       12     450000
2019-01-01   1612339        18055  ...        3    1500000
2019-01-01   1612339        18055  ...        3    2095000
2019-01-01   1612339        18055  ...        3    2095000
2019-01-01   1612339        18055  ...        3    1745000

[8 rows x 8 columns]

In [45]:
# Tugas praktek

# Baca file sample_tsv.tsv dan set lah index_col sesuai instruksi
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_tsv.tsv", sep="\t", index_col=["order_date", "order_id"])

# Cetak data frame untuk 8 data teratas
print("Dataframe:\n", df.head(8))

Dataframe:
                      customer_id             city  ... quantity item_price
order_date order_id                                ...
2019-01-01 1612339         18055  Jakarta Selatan  ...        4    1934000
           1612339         18055  Jakarta Selatan  ...        8     604000
           1612339         18055  Jakarta Selatan  ...       12     747000
           1612339         18055  Jakarta Selatan  ...       12     450000
           1612339         18055  Jakarta Selatan  ...        3    1500000
           1612339         18055  Jakarta Selatan  ...        3    2095000
           1612339         18055  Jakarta Selatan  ...        3    2095000
           1612339         18055  Jakarta Selatan  ...        3    1745000

[8 rows x 7 columns]

In [46]:
# quiz

df_week = pd.DataFrame({'day_number' : [1, 2, 3, 4, 5, 6, 7],
                        'week_type' : ['weekday' for i in range(5)] + ['weekend' for i in range(2)]})
df_week.ix = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
df_week.index = [df_week.ix, df_week['day_number'].to_list()]
df_week.index.names = ['name', 'num']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """

# Slicing

In [47]:
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")

# Slice berdasarkan kolom
df_slice = df.loc[(df['order_date'] == "2019-01-01") &
                  (df['product_id'].isin(['P2154', 'P2556']))]
print('Slice langsung berdasarkan kolom:\n', df_slice)

Slice langsung berdasarkan kolom:
     order_id  order_date  customer_id  ...    brand quantity item_price
9    1612339  2019-01-01        18055  ...  BRAND_P        6    1045000
10   1612339  2019-01-01        18055  ...  BRAND_M        4    1745000

[2 rows x 9 columns]

In [48]:
# Tugas Praktek

# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")

# Slice berdasarkan kolom
df_slice = df.loc[(df['customer_id'] == '18055') &
                  (df['product_id'].isin(['P0029', 'P0040', 'P0041', 'P0116', 'P0117']))]
print('Slice langsung berdasarkan kolom:\n', df_slice)

Slice langsung berdasarkan kolom:
 Empty DataFrame
Columns: [order_id, order_date, customer_id, city, province, product_id, brand, quantity, item_price]
Index: []

In [49]:
# Cara 1: Gunakan method .loc seperti yang dicontohkan berikut

# Baca file sample_csv.csv
df = pd.read_csv('https://storage.googleapis.com/dqlab-dataset/sample_csv.csv')

# Set index dari df sesuai instruksi
df = df.set_index(['order_date', 'product_id'])

# Cara 1: Gunakan .loc
df_slice1 = df.loc[('2019-01-01', ['P2154', 'P2556']), :]
print('Cara 1:\n', df_slice1)

Cara 1:
                        order_id  customer_id  ... quantity item_price
order_date product_id                         ...
2019-01-01 P2556        1612339        18055  ...        6    1045000
           P2154        1612339        18055  ...        4    1745000

[2 rows x 7 columns]

In [50]:
# Cara 2: Gunakan pd.IndexSlice sebagai varaibel untuk melakukan slicing index

# Cara 2: Gunakan pd.IndexSlice dan terapkan dengan .loc
idx = pd.IndexSlice
df_slice2 = df.sort_index().loc[idx['2019-01-01', 'P2154':'P2556'], :]
print('Cara 2:\n', df_slice2)

Cara 2:
                        order_id  customer_id  ... quantity item_price
order_date product_id                         ...
2019-01-01 P2154        1612339        18055  ...        4    1745000
           P2159        1612339        18055  ...       24     310000
           P2325        1612372        17511  ...       48     604000
           P2494        1612372        17511  ...       40     904000
           P2556        1612339        18055  ...        6    1045000

[5 rows x 7 columns]

In [51]:
# TUGAS

import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Set index dari df sesuai instruksi
df = df.set_index(["order_date", "order_id", "product_id"])
# Slice sesuai intruksi
df_slice = df.loc[("2019-01-01", 1612339, ["P2154","P2159"]),:]
print("Slice df:\n", df_slice)

Slice df:
                                 customer_id  ... item_price
order_date order_id product_id               ...
2019-01-01 1612339  P2154             18055  ...    1745000
                    P2159             18055  ...     310000

[2 rows x 6 columns]

# Transforming

In [52]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Tampilkan tipe data
print("Tipe data df:\n", df.dtypes)
# Ubah tipe data kolom order_date menjadi datetime
df["order_date"] = pd.to_datetime(df["order_date"])
# Tampilkan tipe data df setelah transformasi
print("\nTipe data df setelah transformasi:\n", df.dtypes)

Tipe data df:
 order_id        int64
order_date     object
customer_id     int64
city           object
province       object
product_id     object
brand          object
quantity        int64
item_price      int64
dtype: object

Tipe data df setelah transformasi:
 order_id                int64
order_date     datetime64[ns]
customer_id             int64
city                   object
province               object
product_id             object
brand                  object
quantity                int64
item_price              int64
dtype: object

In [53]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Tampilkan tipe data
print("Tipe data df:\n", df.dtypes)
# Ubah tipe data kolom quantity menjadi tipe data numerik float
df["quantity"] = pd.to_numeric(df["quantity"], downcast="float")
# Ubah tipe data kolom city menjadi tipe data category
df["city"] = df["city"].astype("category")
# Tampilkan tipe data df setelah transformasi
print("\nTipe data df setelah transformasi:\n", df.dtypes)

Tipe data df:
 order_id        int64
order_date     object
customer_id     int64
city           object
province       object
product_id     object
brand          object
quantity        int64
item_price      int64
dtype: object

Tipe data df setelah transformasi:
 order_id          int64
order_date       object
customer_id       int64
city           category
province         object
product_id       object
brand            object
quantity        float32
item_price        int64
dtype: object

In [54]:
import pandas as pd

# Membaca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")

# Cetak 5 baris teratas kolom brand
print("Kolom brand awal:\n", df["brand"].head())

# Ubah kolom brand menjadi lower case
df["brand"] = df["brand"].apply(lambda x: x.lower())

# Cetak 5 baris teratas kolom brand
print("Kolom brand setelah diubah:\n", df["brand"].head())

Kolom brand awal:
 0    BRAND_C
1    BRAND_V
2    BRAND_G
3    BRAND_B
4    BRAND_G
Name: brand, dtype: object
Kolom brand setelah diubah:
 0    brand_c
1    brand_v
2    brand_g
3    brand_b
4    brand_g
Name: brand, dtype: object

In [55]:
# Mengambil huruf terakhir dari brand

# Membaca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")

# Cetak 5 baris teratas kolom brand
print("Kolom brand awal:\n", df["brand"].head())

# Ambil karakter terakhir dari kolom brand
df["brand"] = df["brand"].map(lambda x: x[-1])

# Cetak 5 baris teratas kolom brand
print("Kolom brand setelah map:\n", df["brand"].head())

Kolom brand awal:
 0    BRAND_C
1    BRAND_V
2    BRAND_G
3    BRAND_B
4    BRAND_G
Name: brand, dtype: object
Kolom brand setelah map:
 0    C
1    V
2    G
3    B
4    G
Name: brand, dtype: object

In [56]:
import pandas as pd
# Baca file sample_csv.csv
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/sample_csv.csv")
# Cetak 5 baris teratas kolom brand
print("Kolom brand awal:\n", df["brand"].head())
# Gunakan method apply untuk merubah isi kolom menjadi lower case
df["brand"] = df["brand"].apply(lambda x: x.lower())
# Cetak 5 baris teratas kolom brand
print("Kolom brand setelah apply:\n", df["brand"].head())
# Gunakan method map untuk mengambil kode brand yaitu karakter terakhirnya
df["brand"] = df["brand"].map(lambda x: x[-1])
# Cetak 5 baris teratas kolom brand
print("Kolom brand setelah map:\n", df["brand"].head())

Kolom brand awal:
 0    BRAND_C
1    BRAND_V
2    BRAND_G
3    BRAND_B
4    BRAND_G
Name: brand, dtype: object
Kolom brand setelah apply:
 0    brand_c
1    brand_v
2    brand_g
3    brand_b
4    brand_g
Name: brand, dtype: object
Kolom brand setelah map:
 0    c
1    v
2    g
3    b
4    g
Name: brand, dtype: object

In [57]:
# .applymap: untuk dataframe

import numpy as np
import pandas as pd

# number generator set angka seed menjadi suatu angka, bisa semua angka, supaya hasil randomnya selalu sama ketika kita run
np.random.seed(100)

# create dataframe 3 baris dan 5 kolom dengan angka random
df_tr = pd.DataFrame(np.random.rand(3, 5))

# Cetak dataframe
print("DataFrame:\n", df_tr)

DataFrame:
           0         1         2         3         4
0  0.543405  0.278369  0.424518  0.844776  0.004719
1  0.121569  0.670749  0.825853  0.136707  0.575093
2  0.891322  0.209202  0.185328  0.108377  0.219697

In [58]:
# Cara 1 tanpa define function diawal, langsung menggunakan fungsi anonymous lambda x
df_tr1 = df_tr.applymap(lambda x: x * 100)
print("\nDataFrame - cara 1:\n", df_tr1)

DataFrame - cara 1:
            0          1          2          3          4
0  54.340494  27.836939  42.451759  84.477613   0.471886
1  12.156912  67.074908  82.585276  13.670659  57.509333
2  89.132195  20.920212  18.532822  10.837689  21.969749

In [59]:
# Cara 2 dengan define function
def times_100(x):
    return x * 100
df_tr2 = df_tr.applymap(times_100)
print("\nDataFrame - cara 2:\n", df_tr2)

DataFrame - cara 2:
            0          1          2          3          4
0  54.340494  27.836939  42.451759  84.477613   0.471886
1  12.156912  67.074908  82.585276  13.670659  57.509333
2  89.132195  20.920212  18.532822  10.837689  21.969749

In [60]:
import numpy as np
import pandas as pd
# number generator, set angka seed menjadi suatu angka, bisa semua angka, supaya hasil random nya selalu sama ketika kita run
np.random.seed(1234)
# create dataframe 3 baris dan 4 kolom dengan angka random
df_tr = pd.DataFrame(np.random.rand(3, 4)) 
# Cetak dataframe
print("Dataframe:\n", df_tr)
# Cara 1 dengan tanpa define function awalnya, langsung pake fungsi anonymous lambda x
df_tr1 = df_tr.applymap(lambda x: x**2+3*x+2) 
print("\nDataframe - cara 1:\n", df_tr1)
# Cara 2 dengan define function 
def qudratic_fun(x):
	return x**2+3*x+2
df_tr2 = df_tr.applymap(qudratic_fun)
print("\nDataframe - cara 2:\n", df_tr2)

Dataframe:
           0         1         2         3
0  0.191519  0.622109  0.437728  0.785359
1  0.779976  0.272593  0.276464  0.801872
2  0.958139  0.875933  0.357817  0.500995

Dataframe - cara 1:
           0         1         2         3
0  2.611238  4.253346  3.504789  4.972864
1  4.948290  2.892085  2.905825  5.048616
2  5.792449  5.395056  3.201485  3.753981

Dataframe - cara 2:
           0         1         2         3
0  2.611238  4.253346  3.504789  4.972864
1  4.948290  2.892085  2.905825  5.048616
2  5.792449  5.395056  3.201485  3.753981

# # Handling Missing Values

# Pendahuluan

https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html

# Inspeksi Missing Value

In [61]:
# Cara 1 untuk mengetahui adanya missing value

import pandas as pd
# Baca file "public data covid19 jhu csse eu.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")
# Cetak info dari df
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  960 non-null    object
 1   country_region  1000 non-null   object
 2   date            1000 non-null   object
 3   latitude        874 non-null    float64
 4   longitude       874 non-null    float64
 5   location_geom   874 non-null    object
 6   confirmed       1000 non-null   int64
 7   deaths          999 non-null    float64
 8   recovered       999 non-null    float64
 9   active          949 non-null    float64
 10  fips            949 non-null    float64
 11  admin2          842 non-null    object
 12  combined_key    0 non-null      float64
dtypes: float64(7), int64(1), object(5)
memory usage: 101.7+ KB
None

In [62]:
# Cara 2 untuk mengetahui adanya missing value

# Cetak jumlah missing value di setiap kolom
mv = df.isna().sum()
print("\nJumlah missing value per kolom:\n", mv)

Jumlah missing value per kolom:
 province_state      40
country_region       0
date                 0
latitude           126
longitude          126
location_geom      126
confirmed            0
deaths               1
recovered            1
active              51
fips                51
admin2             158
combined_key      1000
dtype: int64

In [63]:
import pandas as pd
# Baca file "public data covid19 jhu csse eu.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")
# Cetak info dari df
print(df.info())
# Cetak jumlah missing value di setiap kolom
mv = df.isna().sum()
print("\nJumlah missing value per kolom:\n", mv)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   province_state  960 non-null    object
 1   country_region  1000 non-null   object
 2   date            1000 non-null   object
 3   latitude        874 non-null    float64
 4   longitude       874 non-null    float64
 5   location_geom   874 non-null    object
 6   confirmed       1000 non-null   int64
 7   deaths          999 non-null    float64
 8   recovered       999 non-null    float64
 9   active          949 non-null    float64
 10  fips            949 non-null    float64
 11  admin2          842 non-null    object
 12  combined_key    0 non-null      float64
dtypes: float64(7), int64(1), object(5)
memory usage: 101.7+ KB
None

Jumlah missing value per kolom:
 province_state      40
country_region       0
date                 0
latitude           126
longitude          126
location_geom      126
confirmed            0
deaths               1
recovered            1
active              51
fips                51
admin2             158
combined_key      1000
dtype: int64

# Treatment untuk Missing Value

In [64]:
import pandas as pd
# Baca file "public data covid19 jhu csse eu.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")
# Cetak ukuran awal dataframe
print("Ukuran awal df: %d baris, %d kolom." % df.shape)
# Drop kolom yang seluruhnya missing value dan cetak ukurannya
df = df.dropna(axis=1, how="all")
print("Ukuran df setelah buang kolom dengan seluruh data missing: %d baris, %d kolom." % df.shape)
# Drop baris jika ada satu saja data yang missing dan cetak ukurannya
df = df.dropna(axis=0, how="any")
print("Ukuran df setelah dibuang baris yang memiliki sekurangnya 1 missing value: %d baris, %d kolom." % df.shape)

Ukuran awal df: 1000 baris, 13 kolom.
Ukuran df setelah buang kolom dengan seluruh data missing: 1000 baris, 12 kolom.
Ukuran df setelah dibuang baris yang memiliki sekurangnya 1 missing value: 746 baris, 12 kolom.

In [65]:
# Mengisi missing value dengan text tertentu
import pandas as pd
# Baca file "public data covid19 jhu csse eu.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")
# Cetak unique value pada kolom province_state
print("Unique value awal:\n", df["province_state"].unique())
# Ganti missing value dengan string "unknown_province_state"
df["province_state"] = df["province_state"].fillna("unknown_province_state")
# Cetak kembali unique value pada kolom province_state
print("Unique value setelah fillna:\n", df["province_state"].unique())

Unique value awal:
 [nan 'US' 'Guam' 'Iowa']
Unique value setelah fillna:
 ['unknown_province_state' 'US' 'Guam' 'Iowa']

In [66]:
import pandas as pd
# Baca file "https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")
# Cek missing value di kolom active
print("Jumlah missing value:", df["active"].isna().sum())
# Isi missing value kolom active dengan median
df["active"] = df["active"].fillna(df["active"].median())
# Cek kembali kolom active
print("Jumlah missing value setelah diisi median:", df["active"].isna().sum())

Jumlah missing value: 51
Jumlah missing value setelah diisi median: 0

In [67]:
import pandas as pd
# Baca file "https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv"
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/CHAPTER%204%20-%20missing%20value%20-%20public%20data%20covid19%20.csv")
# Cetak nilai mean dan median awal 
print("Awal: mean = %f, median = %f." % (df["active"].mean(), df["active"].median()))
# Isi missing value kolom active dengan median
df_median = df["active"].fillna(df["active"].median())
# Cetak nilai mean dan median awal setelah diisi dengan median
print("Fillna median: mean = %f, median = %f." % (df_median.mean(), df_median.median()))
# Isi missing value kolom active dengan mean
df_mean = df["active"].fillna(df["active"].mean())
# Cetak nilai mean dan median awal setelah diisi dengan mean
print("Fillna mean: mean = %f, median = %f." % (df_mean.mean(), df_mean.median()))

Awal: mean = 192.571128, median = 41.000000.
Fillna median: mean = 184.841000, median = 41.000000.
Fillna mean: mean = 192.571128, median = 49.000000.

In [68]:
# Mengisi missing value dengan interpolasi (untuk time series)
import numpy as np
import pandas as pd
# Data
ts = pd.Series({
   "2020-01-01":9,
   "2020-01-02":np.nan,
   "2020-01-05":np.nan,
   "2020-01-07":24,
   "2020-01-10":np.nan,
   "2020-01-12":np.nan,
   "2020-01-15":33,
   "2020-01-17":np.nan,
   "2020-01-16":40,
   "2020-01-20":45,
   "2020-01-22":52,
   "2020-01-25":75,
   "2020-01-28":np.nan,
   "2020-01-30":np.nan
})
# Cetak time series
print("Awal:\n", ts)
# Isi missing value menggunakan interpolasi linier
ts = ts.interpolate()
# Cetak time series setelah interpolasi linier
print("Setelah diisi missing valuenya:\n", ts)

Awal:
 2020-01-01     9.0
2020-01-02     NaN
2020-01-05     NaN
2020-01-07    24.0
2020-01-10     NaN
2020-01-12     NaN
2020-01-15    33.0
2020-01-17     NaN
2020-01-16    40.0
2020-01-20    45.0
2020-01-22    52.0
2020-01-25    75.0
2020-01-28     NaN
2020-01-30     NaN
dtype: float64
Setelah diisi missing valuenya:
 2020-01-01     9.0
2020-01-02    14.0
2020-01-05    19.0
2020-01-07    24.0
2020-01-10    27.0
2020-01-12    30.0
2020-01-15    33.0
2020-01-17    36.5
2020-01-16    40.0
2020-01-20    45.0
2020-01-22    52.0
2020-01-25    75.0
2020-01-28    75.0
2020-01-30    75.0
dtype: float64

In [69]:
import numpy as np
import pandas as pd
# Data
ts = pd.Series({
   "2020-01-01":9,
   "2020-01-02":np.nan,
   "2020-01-05":np.nan,
   "2020-01-07":24,
   "2020-01-10":np.nan,
   "2020-01-12":np.nan,
   "2020-01-15":33,
   "2020-01-17":np.nan,
   "2020-01-16":40,
   "2020-01-20":45,
   "2020-01-22":52,
   "2020-01-25":75,
   "2020-01-28":np.nan,
   "2020-01-30":np.nan
})
# Isi missing value menggunakan interpolasi linier
ts = ts.interpolate()
# Cetak time series setelah interpolasi linier
print("Setelah diisi missing valuenya:\n", ts)

Setelah diisi missing valuenya:
 2020-01-01     9.0
2020-01-02    14.0
2020-01-05    19.0
2020-01-07    24.0
2020-01-10    27.0
2020-01-12    30.0
2020-01-15    33.0
2020-01-17    36.5
2020-01-16    40.0
2020-01-20    45.0
2020-01-22    52.0
2020-01-25    75.0
2020-01-28    75.0
2020-01-30    75.0
dtype: float64

# # Mini Project

# Project Dari Andra

In [70]:
import pandas as pd

# 1. Baca dataset
print("[1] BACA DATASET")
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/retail_raw_test.csv", low_memory=False)
print("    Dataset:\n", df.head())
print("    Info:\n", df.info())

# 2. Ubah tipe data
print("\n[2] UBAH TIPE DATA")
df["customer_id"] = df["customer_id"].apply(lambda x: x.split("'")[1]).astype("int64")
df["quantity"] = df["quantity"].apply(lambda x: x.split("'")[1]).astype("int64")
df["item_price"] = df["item_price"].apply(lambda x: x.split("'")[1]).astype("int64")
print("    Tipe data:\n", df.dtypes)

# 3. Transform "product_value" supaya bentuknya seragam dengan format "PXXXX", assign ke kolom baru "product_id", dan drop kolom "product_value", jika terdapat nan gantilah dengan "unknown"
print("\n[3] TRANSFORM product_value MENJADI product_id")
# Buat fungsi
import math
def impute_product_value(val):
    if math.isnan(val):
        return "unknown"
    else:
        return 'P' + '{:0>4}'.format(str(val).split('.')[0])
# Buat kolom "product_id"
df["product_id"] = df["product_value"].apply(lambda x: impute_product_value(x))
# Hapus kolom "product_value"
df.drop(["product_value"], axis=1, inplace=True)
# Cetak 5 data teratas
print(df.head())

# 4. Tranform order_date menjadi value dengan format "YYYY-mm-dd"
print("\n[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd")
months_dict = {
   "Jan":"01",
   "Feb":"02",
   "Mar":"03",
   "Apr":"04",
   "May":"05",
   "Jun":"06",
   "Jul":"07",
   "Aug":"08",
   "Sep":"09",
   "Oct":"10",
   "Nov":"11",
   "Dec":"12"
}
df["order_date"] = pd.to_datetime(df["order_date"].apply(lambda x: str(x)[-4:] + "-" + months_dict[str(x)[:3]] + "-" + str(x)[4:7]))
print("    Tipe data:\n", df.dtypes)

# 5. Mengatasi data yang hilang di beberapa kolom
print("\n[5] HANDLING MISSING VALUE")
# Kolom "city" dan "province" masih memiliki missing value, nilai yang hilang di kedua kolom ini diisi saja dengan "unknown"
df[["city","province"]] = df[["city","province"]].fillna("unknown")
# Kolom brand juga masih memiliki missing value, Ganti value NaN menjadi "no_brand"
df["brand"] = df["brand"].fillna("no_brand")
# Cek apakah masih terdapat missing value di seluruh kolom 
print("    Info:\n", df.info())

# 6. Membuat kolom baru "city/province" dengan menggabungkan kolom "city" dan kolom "province" dan delete kolom asalnya
print("\n[6] MEMBUAT KOLOM BARU city/province")
df["city/province"] = df["city"] + "/" + df["province"]
# drop kolom "city" dan "province" karena telah digabungkan
df.drop(["city","province"], axis=1, inplace=True)
# Cetak 5 data teratas
print(df.head())

# 7. Membuat hierarchical index yang terdiri dari kolom "city/province", "order_date", "customer_id", "order_id", "product_id"
print("\n[7] MEMBUAT HIERACHICAL INDEX")
df = df.set_index(["city/province","order_date","customer_id","order_id","product_id"])
# urutkanlah berdasarkan index yang baru
df = df.sort_index()
# Cetak 5 data teratas
print(df.head())

# 8. Membuat kolom "total_price" yang formula nya perkalian antara kolom "quantity" dan kolom "item_price"
print("\n[8] MEMBUAT KOLOM total_price")
df["total_price"] = df["quantity"] * df["item_price"]
# Cetak 5 data teratas
print(df.head())

# 9. Slice dataset agar hanya terdapat data bulan Januari 2019
print("\n[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA")
idx = pd.IndexSlice
df_jan2019 = df.loc[idx[:, "2019-01-01":"2019-01-31"], :]
print("Dataset akhir:\n", df_jan2019)

# END OF PROJECT

[1] BACA DATASET
    Dataset:
    order_id    order_date customer_id  ... quantity item_price product_value
0   1730350  Dec 11, 2019      '13447  ...      '24    '113000        1374.0
1   1677490  Jul 31, 2019          '0  ...       '1   '1164000        1370.0
2   1704211  Oct 18, 2019      '16128  ...      '12    '747000        1679.0
3   1679695  Aug 07, 2019      '16225  ...       '6    '590000        1708.0
4   1679080  Aug 05, 2019          '0  ...       '2    '740000        1201.0

[5 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       5000 non-null   int64
 1   order_date     5000 non-null   object
 2   customer_id    5000 non-null   object
 3   city           3802 non-null   object
 4   province       3802 non-null   object
 5   brand          4995 non-null   object
 6   quantity       5000 non-null   object
 7   item_price     5000 non-null   object
 8   product_value  4995 non-null   float64
dtypes: float64(1), int64(1), object(7)
memory usage: 351.7+ KB
    Info:
 None

[2] UBAH TIPE DATA
    Tipe data:
 order_id           int64
order_date        object
customer_id        int64
city              object
province          object
brand             object
quantity           int64
item_price         int64
product_value    float64
dtype: object

[3] TRANSFORM product_value MENJADI product_id
   order_id    order_date  customer_id  ... quantity item_price product_id
0   1730350  Dec 11, 2019        13447  ...       24     113000      P1374
1   1677490  Jul 31, 2019            0  ...        1    1164000      P1370
2   1704211  Oct 18, 2019        16128  ...       12     747000      P1679
3   1679695  Aug 07, 2019        16225  ...        6     590000      P1708
4   1679080  Aug 05, 2019            0  ...        2     740000      P1201

[5 rows x 9 columns]

[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd
    Tipe data:
 order_id                int64
order_date     datetime64[ns]
customer_id             int64
city                   object
province               object
brand                  object
quantity                int64
item_price              int64
product_id             object
dtype: object

[5] HANDLING MISSING VALUE
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     5000 non-null   int64
 1   order_date   5000 non-null   datetime64[ns]
 2   customer_id  5000 non-null   int64
 3   city         5000 non-null   object
 4   province     5000 non-null   object
 5   brand        5000 non-null   object
 6   quantity     5000 non-null   int64
 7   item_price   5000 non-null   int64
 8   product_id   5000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 351.7+ KB
    Info:
 None

[6] MEMBUAT KOLOM BARU city/province
   order_id order_date  ...  product_id              city/province
0   1730350 2019-12-11  ...       P1374      Surakarta/Jawa Tengah
1   1677490 2019-07-31  ...       P1370            unknown/unknown
2   1704211 2019-10-18  ...       P1679  Jakarta Pusat/DKI Jakarta
3   1679695 2019-08-07  ...       P1708      Yogyakarta/Yogyakarta
4   1679080 2019-08-05  ...       P1201            unknown/unknown

[5 rows x 8 columns]

[7] MEMBUAT HIERACHICAL INDEX
                                                                     brand  ...  item_price
city/province          order_date customer_id order_id product_id           ...
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936       BRAND_K  ...      450000
                       2019-11-12 12360       1715116  P0758       BRAND_C  ...      695000
                                                       P3042       BRAND_R  ...      310000
                       2019-12-09 12374       1729036  P1660       BRAND_G  ...     2795000
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C  ...      695000

[5 rows x 3 columns]

[8] MEMBUAT KOLOM total_price
                                                                     brand  ...  total_price
city/province          order_date customer_id order_id product_id           ...
Banda Aceh/Aceh        2019-04-17 12818       1642480  P1936       BRAND_K  ...     10800000
                       2019-11-12 12360       1715116  P0758       BRAND_C  ...      5560000
                                                       P3042       BRAND_R  ...      3720000
                       2019-12-09 12374       1729036  P1660       BRAND_G  ...     11180000
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C  ...      8340000

[5 rows x 4 columns]

[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA
Dataset akhir:
                                                                      brand  ...  total_price
city/province          order_date customer_id order_id product_id           ...
Bandar Lampung/Lampung 2019-01-15 12515       1619257  P0628       BRAND_C  ...      8340000
Bandung/Jawa Barat     2019-01-09 16134       1617055  P1597       BRAND_G  ...      4680000
                       2019-01-10 17392       1617952  P2137       BRAND_M  ...      2124000
                       2019-01-14 15527       1618828  P3115       BRAND_S  ...      1045000
                       2019-01-29 13253       1620289  P0099       BRAND_A  ...      5400000
...                                                                    ...  ...          ...
unknown/unknown        2019-01-30 0           1620766  P3070       BRAND_R  ...       593000
                                                       P3483       BRAND_S  ...      1779000
                       2019-01-31 0           1621057  P1298       BRAND_F  ...       296000
                                                       P1773       BRAND_H  ...      2965000
                                                       P2877       BRAND_R  ...      1486000

[334 rows x 4 columns]

In [ ]:
import numpy as np
import pandas as pd

# Data
ts = pd.Series({
   "2020-01-01":9,
   "2020-01-02":np.nan,
   "2020-01-05":np.nan,
   "2020-01-07":24,
   "2020-01-10":np.nan,
   "2020-01-12":np.nan,
   "2020-01-15":33,
   "2020-01-17":np.nan,
   "2020-01-16":40,
   "2020-01-20":45,
   "2020-01-22":52,
   "2020-01-25":75,
   "2020-01-28":np.nan,
   "2020-01-30":np.nan
})

# Isi missing value menggunakan interpolasi linier
ts = ts.interpolate()

# Cetak time series setelah interpolasi linier
print("Setelah diisi missing valuenya:\n", ts)

# Project dari Andra

In [ ]:
import pandas as pd

# 1. Baca dataset
print("[1] BACA DATASET")
df = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/retail_raw_test.csv", low_memory=False)
print("    Dataset:\n", df.head())
print("    Info:\n", df.info())

In [ ]:
# 2. Ubah tipe data
print("\n[2] UBAH TIPE DATA")
df["customer_id"] = df["customer_id"].apply(lambda x: x.split("'")[1]).astype("int64")
df["quantity"] = df["quantity"].apply(lambda x: x.split("'")[1]).astype("int64")
df["item_price"] = df["item_price"].apply(lambda x: x.split("'")[1]).astype("int64")
print("    Tipe data:\n", df.dtypes)

In [ ]:
# 3. Transform "product_value" supaya bentuknya seragam dengan format "PXXXX", assign ke kolom baru "product_id", dan drop kolom "product_value", jika terdapat nan gantilah dengan "unknown"
print("\n[3] TRANSFORM product_value MENJADI product_id")

# Buat fungsi
import math
def impute_product_value(val):
    if math.isnan(val):
        return "unknown"
    else:
        return 'P' + '{:0>4}'.format(str(val).split('.')[0])

# Buat kolom "product_id"
df["product_id"] = df["product_value"].apply(lambda x: impute_product_value(x))

# Hapus kolom "product_value"
df.drop(["product_value"], axis=1, inplace=True)

# Cetak 5 data teratas
print(df.head())

In [ ]:
# 4. Tranform order_date menjadi value dengan format "YYYY-mm-dd"
print("\n[4] TRANSFORM order_date MENJADI FORMAT YYYY-mm-dd")
months_dict = {
   "Jan":"01",
   "Feb":"02",
   "Mar":"03",
   "Apr":"04",
   "May":"05",
   "Jun":"06",
   "Jul":"07",
   "Aug":"08",
   "Sep":"09",
   "Oct":"10",
   "Nov":"11",
   "Dec":"12"
}

df["order_date"] = pd.to_datetime(df["order_date"].apply(lambda x: str(x)[-4:] + "-" + months_dict[str(x)[:3]] + "-" + str(x)[4:7]))

print("    Tipe data:\n", df.dtypes)

In [ ]:
# 5. Mengatasi data yang hilang di beberapa kolom
print("\n[5] HANDLING MISSING VALUE")

# Kolom "city" dan "province" masih memiliki missing value, nilai yang hilang di kedua kolom ini diisi saja dengan "unknown"
df[["city", "province"]] = df[["city", "province"]].fillna("unknown")

# Kolom brand juga masih memiliki missing value, Ganti value NaN menjadi "no_brand"
df["brand"] = df["brand"].fillna("no_brand")

# Cek apakah masih terdapat missing value di seluruh kolom 
print("    Info:\n", df.info())

In [ ]:
# 6. Membuat kolom baru "city/province" dengan menggabungkan kolom "city" dan kolom "province" dan delete kolom asalnya
print("\n[6] MEMBUAT KOLOM BARU city/province")
df["city/province"] = df["city"] + "/" + df["province"]

# drop kolom "city" dan "province" karena telah digabungkan
df.drop(["city", "province"], axis=1, inplace=True)

# Cetak 5 data teratas
print(df.head())

In [ ]:
# 7. Membuat hierarchical index yang terdiri dari kolom "city/province", "order_date", "customer_id", "order_id", "product_id"
print("\n[7] MEMBUAT HIERACHICAL INDEX")
df = df.set_index(["city/province", "order_date", "customer_id", "order_id", "product_id"])

# urutkanlah berdasarkan index yang baru
df = df.sort_index()

# Cetak 5 data teratas
print(df.head())

In [ ]:
# 8. Membuat kolom "total_price" yang formula nya perkalian antara kolom "quantity" dan kolom "item_price"
print("\n[8] MEMBUAT KOLOM total_price")
df["total_price"] = df["quantity"] * df["item_price"]

# Cetak 5 data teratas
print(df.head())

In [ ]:
# 9. Slice dataset agar hanya terdapat data bulan Januari 2019
print("\n[9] SLICE DATASET UNTUK BULAN JANUARI 2019 SAJA")
idx = pd.IndexSlice

df_jan2019 = df.loc[idx[:, "2019-01-01":"2019-01-31"], :]

print("Dataset akhir:\n", df_jan2019)